---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'OEAA - Astronomía EC',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '¡Inscríbete!',
        href: '#services',
        target: '_blank',
      },
      { text: 'Conoce más', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <div class="flex flex-col space-y-1">
        <span class="block sm:inline"> Olimpiadas Ecuatorianas</span>
        <span class="text-accent dark:text-white highlight"> de Astronomía y Astrofísica</span>
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Aprende sobre el Universo y participa en competencias internacionales</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="La Olimpiada Nacional"
    title="Empieza tu viaje desde el Ecuador"
    subtitle="¡Aprende sobre astronomía y astrofísica de la mano de expertos!"
    items={[
      {
        title: 'Material de calidad internacional',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Clases online en vivo',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Los mejores instructores',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Proyección mundial',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Sigue nuestro Blog"
    information={`Conoce sobre nuestras últimas actividades
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes"
    subtitle="¡Respondemos las dudas más comúnes!"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Cuándo empieza la Olimpiada Nacional?',
        description:
          "Cada edición de la Olimpiada Nacional empieza en julio/agosto, informamos al público con un anuncio en redes sociales.",
      },
      {
        title: '¿Cuáles son los requisitos para participar?',
        description:
          'Debes tener menos de 18 años, ser estudiante de nivel secundario, ser ecuatoriano o extranjero residente.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Más información',
        href: 'https://astro-ec.github.io/services/',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Únete al Comité Organizador</span>
    </Fragment>

    <Fragment slot="subtitle">
      ¿Te interesa apoyar a la siguiente generación de científicos del Ecuador?
      Participa organizando la Olimpiada Nacional de Astronomía
    </Fragment>
  </CallToAction>
</Layout>
